/* Image by <a href="https://pixabay.com/users/bergadder-20679/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=975091">Robert Balog</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=975091">Pixabay</a> */
body{
  background-color: #fefefd;
}

.firstColor{
  background-color: #c2d1c2;
}

.secondColor{
  background-color: #b8ab97;
}

.thirdColor{
  background-color: #7b806c;
}

.fourthColor{
  background-color: #3b463e;
}
