.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

.containerSpaced {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
}

.circle {
  border-radius: 50%;
  height: 100px;
  flex: 0 1 100px;
  margin: 5px;
}

.avatar {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  flex: 0 1 100px;
  margin: 5px;
  background-image: url(./Photos/Forest2.jpg);
  background-size: cover;
}

.card {
  height: auto;
  width: auto;
  padding: 10px;
  margin: 10px;
  border: 0.5px solid #3b463e;
  display: grid;
  flex-direction: column;
  place-items: start center;
}

.description{
  height: auto;
  margin: 0.5em;
  padding: 0.5em;
}

.shortInfo{
  width: 200px;
}

.socialMediaButton {
  height: 54px;
  width: 54px;
  margin: 5px;
  display: grid;
  place-items: center;
  flex: 0 1 54px;
}

.longButton {
  color: #fefefd;
  font-size: 1.5em;
  height: 60px;
  width: 300px;
  margin: 5px;
  background-color: #3b463e;
  display: grid;
  place-items: center;
}

footer {
  text-align: center;
}
